* {
	font-family: 'Fira Code', monospace;
	color: white;
	font-size: 36px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.2s background-color ease;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.css-color {
	width: 850px;
	border-radius: 5px;
	padding: 10px 20px;
	color: #aaa;
	background-color: #222;
	box-shadow: 0 0 20px rgba(20, 20, 20, 0.7);
}

button {
	font-size: 24px;
	margin-top: 30px;
	padding: 10px 30px;
	background-color: rgb(0, 89, 255);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 89, 255, 1);
	border: none;
	transition: 0.1s background-color ease;
}

button:hover {
	cursor: pointer;
	background-color: rgb(21, 103, 255);
}

button:active {
	background-color: rgb(35, 112, 255);
}
