* {
  font-family: 'Fira Code', monospace;
  color: white;
  font-size: 36px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.2s background-color ease;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-color {
  width: 850px;
  border-radius: 5px;
  padding: 10px 20px;
  color: #aaa;
  background-color: #222;
  box-shadow: 0 0 20px rgba(20, 20, 20, 0.7);
  cursor: pointer;
}

.color-type {
  margin-bottom: 30px;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

#btn-generate {
  font-size: 42px;
  margin-top: 75px;
  background-color: rgb(0, 89, 255);
  box-shadow: 0 0 10px rgba(0, 89, 255, 1);
  transition: 0.1s background-color ease;
}

#btn-generate:hover {
  background-color: rgb(21, 103, 255);
}

#btn-generate:active {
  background-color: rgb(35, 112, 255);
}

.color-type button {
  font-size: 18px;
  background-color: #222;
  padding: 10px 20px;
  transition: 0.2s all ease;
}

.color-type button.active {
  background-color: rgb(0, 89, 255);
  box-shadow: 0 0 10px rgba(0, 89, 255, 1);
}

.notification {
  position: absolute;
  right: 0;
  opacity: 0;
  bottom: 20px;
  background-color: #222;
  border-radius: 5px;
  padding: 20px;
  font-size: 0.5rem;
  width: 300px;
  transition: right 0.3s ease, opacity 0.3s ease;
}

.notification button {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0.75rem;
  border-radius: 3px;
  background-color: transparent;
}

.notification button:hover {
  background-color: #555;
}

.notification.visible {
  right: 20px;
  opacity: 100%;
}

@keyframes flash {
  0% {
    background-color: #555;
  }
  100% {
    background-color: #222;
  }
}

.notification.multiple {
  animation: flash 1s;
}

@media (max-width: 921px) {
  .css-color {
    width: 600px;
    font-size: 0.7em;
  }

  .css-color span {
    font-size: 1em;
  }
}

@media (max-width: 671px) {
  .css-color {
    width: 450px;
    font-size: 0.5em;
  }

  .css-color span {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .css-color {
    width: 350px;
    font-size: 0.38em;
  }

  .css-color span {
    font-size: 1em;
  }

  #btn-generate {
    margin-top: 40px;
    font-size: 0.8em;
  }

  .notification {
    width: 250px;
    font-size: 0.4rem;
  }
}
